/* General */
.debug * { outline: 1px dashed rgba(255, 255, 255, 0.1); }
.debug .content { outline: 1px solid #0000ff; }
.debug button { outline: 1px solid #80ff00; }
.debug input { outline: 1px solid #ff0080; }
.debug #app { outline: 1px solid #ffff80; }

/* Titlebar */
.debug .window-controls { outline: 1px solid #ff0000; }
.debug .titlebar { outline: 1px solid #00ff00; }
.debug .menu-button { outline: 1px solid #ff0000; }
.debug .title-container { outline: 1px solid #ff80ff; }

/* Main */
.debug .section {  outline: 1px solid #ff00ff; }

/* Settings */
.debug .settings-layout { outline: 1px solid #ff00ff; }
.debug .settings-nav { outline: 1px solid #ffff00; }
.debug .settings-content { outline: 1px solid #00ffff; }
.debug .settings-section { outline: 1px solid #ff8000; }
.debug .settings-group { outline: 1px solid #0080ff; }
.debug .setting-item { outline: 1px solid #80ff00; }
.debug select { outline: 1px solid #8000ff; }

/* Sidebar */
.debug .sidebar { outline: 1px solid #ff00ff; } 
.debug .control-buttons { outline: 2px solid #ff00ff; }
.debug .sidebar-nav { outline: 1px solid #ffff00; }
.debug .start-btn { outline: 1px solid #ff8000; }
.debug .stop-btn { outline: 1px solid #0080ff; }
.debug .restart-btn { outline: 1px solid #80ff00; }

/* Monitor */
.debug .monitor-container { outline: 1px solid #ff00aa; }
.debug .monitor-gauge { outline: 1px solid #00ffaa; }
.debug .gauge-body { outline: 1px solid #00aaff; }
.debug .gauge-fill { outline: 1px solid #ffaa00; }
.debug .gauge-cover { outline: 1px solid #aa00ff; }
.debug .gauge { outline: 1px solid red; }

/* hover info */
.debug *:hover::after {
  content: attr(class);
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 12px;
  z-index: 9999;
  white-space: nowrap;
  pointer-events: none;
  transform: translateY(-100%);
}

.debug *[id]:hover::after {
  content: attr(id);
}

.debug *[class][id]:hover::after {
  content: attr(class) ' #' attr(id);
}