:root { --titlebar-height: 20px; }

:root[layout="expanded"] {
  --sidebar-width: 120px;
}

:root {
  /* Generic Background Colors */
  --bg-primary: #161616;
  --bg-secondary: #1e1e1e;
  --bg-tertiary: #252525;

  /* Window/Navigation Elements */
  --window-primary: #252525;
  --window-secondary: #1e1e1e;
  --window-tertiary: #666666;
  
  /* Config Elements */
  --config-primary: #2a2a2a;
  --config-secondary: #303030;
  --config-tertiary: #535353;
  
  /* Text Colors */
  --text-color: white;
  
  /* Generic Button States */
  --button-bg: #363636;
  --button-hover: #474747;
  --button-border: #474747;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../../../assets/font/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Roboto Bold", Arial, sans-serif;
}