/* ========== Layout ========== */
.titlebar {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--window-primary);
  color: var(--text-color);
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--titlebar-height);
  z-index: 999;
  border-bottom: 1px solid var(--window-tertiary);
}

/* ========== Title ========== */
.title-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.title {
  font-size: 18px;
  text-align: center;
  flex-grow: 1;
  -webkit-app-region: drag;
}

/* ========== Window Controls ========== */
.window-controls {
  display: flex;
  align-items: center;
  -webkit-app-region: no-drag;
}

.window-controls div {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.window-controls img {
  height: 100%;
  width: auto;
  filter: invert(0);
}

:root[theme="light"] .window-controls img {
  filter: invert(1);
}

.window-controls div:hover img {
  opacity: 0.7;
}

.window-controls div:hover img {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
}
